name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env: 
  NODE_ENV: test
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  NEXT_PUBLIC_STRIPE_SECRET_KEY: ${{ secrets.NEXT_PUBLIC_STRIPE_SECRET_KEY }}
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
